@inject AuthenticationStateProvider AuthStateProvider
@using System.Security.Claims

@if (authorized)
{
    <a class="dropdown-item" href="admin/category">Категории</a>
    <a class="dropdown-item" href="admin/car-equipments">Комплектация</a>
    <a class="dropdown-item" href="admin/cars">Автомобили</a>
    <hr />
}

@code {
    bool authorized = false;

    protected override async Task OnInitializedAsync()
    {
        string role = (await AuthStateProvider.GetAuthenticationStateAsync())
            .User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role).Value;
        if (role.Contains("Admin"))
        {
            authorized = true;
        }
    }
}

